*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #7fffd4;
    color: white;
    text-align: center;
}

h1{
    font-size: 12vmin;
    margin-top: 1.25rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 8vmin;
    color: deeppink;
    background-color: white;
    cursor: pointer;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #ff1493;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#msg{
    font-size: 8vmin;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.msg-container{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}